{% extends 'app/common.html' %}

{% block title %}Duplica ricetta{% endblock %}


{% load estrai %}

{% block content %}

<div class="container-fluid my-2 text-center">



<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}

  <h1>Duplica ricetta: {{ricetta.nome|capfirst}}</h1>
  <hr width="100%" >
  <br/>


<div class="row mb-3 my-2 justify-content-center">
      <label for="portata" class="col-sm-2 col-form-label"><strong>Nuova portata</strong></label>
    <div class="col-sm-8">
  <select size="{{portate|length}}" class="form-select" id="portata" name="portata" aria-label="portata" required onChange="window.location.href=this.value">
     {% for portata in portate %}
      {% if portata.nome == filtro %}
        <option selected value="{{portata.nome}}" name="portata" >{{portata.nome}}</option>
      {% else %}
        <option value="{{portata.nome}}" name="portata" >{{portata.nome}}</option>
      {% endif %}
    {% endfor %}
  </select>
</div>
 </div>

{% if sonoManager or request.user.is_staff %}
        <div class="row mb-3 my-2 justify-content-center">
      <label for="chef" class="col-sm-2 col-form-label"><strong>Assegna chef</strong></label>
    <div class="col-sm-8">
  <select required class="form-select" id="chef" name="chef" aria-label="chef">
    {% for chef in chefs %}
        {% if chef == ricetta.chef %}
            <option selected value="{{chef.user_id}}" id="chef" name="chef">{{chef}} - {{chef.impianto}}</option>
        {% else %}
            {% if chef == "" and not ricetta.chef %}
                <option selected value="{{chef.user_id}}" name="chef" >-</option>
            {% else %}
                <option value="{{chef.user_id}}" name="chef" >{{chef}} - {{chef.impianto}}</option>
            {% endif %}
        {% endif %}
    {% endfor %}
  </select>
</div>
 </div>
    {% else%}
<div class="row mb-3 my-2 justify-content-center">
      <label for="chef" class="col-sm-2 col-form-label"><strong>Chef</strong></label>
    <div class="col-sm-8">
  <input type="text" class="form-control" maxlength="100" name="chef" value="{{chefs|estrai:0}}" id="chef" readonly>
</div>
 </div>
    {% endif %}
    


<div class="row mb-3 my-2 justify-content-center">
      <label for="nome" class="col-sm-2 col-form-label"><strong>Nuovo nome</strong></label>
    <div class="col-sm-8">
  <input placeholder="Scegli un nome diverso dal precedente" type="text" class="form-control" maxlength="100" name="nome" id="nome" value="{{ ricetta.nome }}">
</div>
 </div>



 <div class="row mb-3 my-2 justify-content-center">
      <label for="tag" class="col-sm-2 col-form-label"><strong>Nuovo tag</strong></label>
    <div class="col-sm-8">
  <select class="form-select" aria-label="Default select example" id="tag" name="tag" required>
  {% for tag in tags %}
    {% if ricetta.tag == tag %}
        <option selected value="{{tag.nome}}" name="tag" >{{tag.nome}}</option>
    {% else %}
        <option value="{{tag.nome}}" name="tag" >{{tag.nome}}</option> 
    {% endif %} 
  {% endfor %}
  </select>
</div>
 </div>


<div class="row mb-3 my-2 justify-content-center">
      <label for="image" class="col-sm-2 col-form-label"><strong>Nuova foto <small>(opzionale)</small></strong></label>
    <div class="col-sm-8">
  <input class="form-control" type="file" name="image" id="image">
</div>
 </div>

<br>
 {% if ricetta.ingredienti.all %}
 <h6 align="center"><b>Inserisci 0 per eliminare un ingrediente </b></h6>
</br>
{% endif %}

  {% for ing, q in ingredienti.items %}
    <div class="row justify-content-center">
        <div class="col-md-2"> 
            <label for="{{ing.nome_generico}}" class="col-form-label"> {{ing.nome_generico|capfirst}} </label>
        </div>
        <div class="col-md-2">              
            <div class="input-group mb-3">
                <input type="number" value="{{q}}" min="0" max="500" step="1" id="{{ing.nome_generico}}" class="form-control" name="{{ing.nome_generico}}-gr" required>
                <span class="input-group-text">gr</span>
            </div>
        </div>
    </div>
{% endfor %}




</br>
</br>

   <div class="d-grid gap-2 col-10 mx-auto">
  <button type="submit" value="avanti" name="avanti" class="btn btn-primary btn-lg" 
        style="background-color: #469f35; border-color: #469f35;">Avanti</button>
  </br>
  </br>
  </div>


</form>

</div>








{% endblock %}

