<!-- Modal -->
<div class="modal fade" id="nuovo-direzionale" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="titolo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="container justify-content-center" id="titolo"><strong>Nuovo utente direzionale</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
  
    <div class="form-row">
    <div class="col-md-6 mb-4">
      <label for="validationDefault01">Username</label>
      <input type="text" name="username" class="form-control" id="validationDefault01" required>
    </div>

    <div class="col-md-6 mb-4">
      <label for="validationDefault02">Password</label>
      <input type="text" name="password" class="form-control" id="validationDefault02"  required>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-4">
      <label for="validationDefault03">Nome</label>
      <input type="text" name="nome" class="form-control" id="validationDefault03" required>
    </div>
    <div class="col-md-6 mb-4">
      <label for="validationDefault04">Cognome</label>
      <input type="text" name="cognome" class="form-control" id="validationDefault04"  required>
    </div>
    
  </div>
  <div class="form-row">
    <div class="col-md-12 mb-4">
      <label for="validationDefault05">Email</label>
      <input type="email" name="email" class="form-control" id="validationDefault05" required>
    </div>
  
    
  </div>
  <br>  

      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
        <button name="conferma-direzionale" class="btn btn-primary" type="submit">Conferma</button>
      </div>
    </div>
  </div>
</div>